*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: aliceblue;
    transition: all 0.7s ease-in-out;
}
/* Css index users */
.container-menu{
    background-image: linear-gradient(90deg, aliceblue, rgb(136, 194, 245));
    position: relative;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
}
.menu-top{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0 20%;
    height: 90px;
    width: 100%;
    justify-content:space-between;
    position: relative;
    
}
.menu-left{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: end;
}
.search-menu{
    margin-left: 10px;
}
.search-menu input{
    padding: 5px 10px;
    border: none;
    outline: 1px solid #fff;
    width: 300px;
    border-radius: 5px;
}
.search-menu input:focus{
    outline: 1px solid forestgreen;
    transition: all 0.6s ease;
}
.search-menu button{
    padding: 5px 10px;
    border: none;
    background-color: blue;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;

}
.user-login-money{
    text-align: left;
    display: flex;
    justify-content: right;
}
.menu-main{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    height: 70px;
}
#icon-menu{
    display: none;
    cursor: pointer;
}
.menu-right{
    display: flex;
    align-items: center;
    gap: 20px;
}
.user-profile{
    position: relative;

}
.user-profile a .fa-user-secret{
    font-size: 20px;
}
.drop-profile{
    display: none;
    position: absolute;
    min-width: 200px;
    background-color: aliceblue;
    box-shadow: 0 10px 5px 0 rgba(0, 0, 0, 0.4);
    right: 0;
    z-index: 10;
    margin-top: 215px;
}
#dropdown-menu.active {
    display: block;
  }
  #drop-menu.active{
    display: block;
  }
.drop-profile a{
    display: block;
    padding: 5px 10px;
}
.menu-main .menu{
    display: flex;
    gap: 20px;
    padding: 10px;
}
.menu-main .menu li a{
    color: black;
    font-weight: 500;
    font-size: 16px;
}
.menu-main .menu li a:hover{
    color: blue;
}
.menu-main .cart{
    padding: 5px 10px;
    position: relative;
    background-color: #fff;
    border: 2px solid blue;
    border-radius: 10px;
    transition: all 0.9s ease;

}
.cart .soluong{
    width: 30px;
    height: 10px;
    color: #fff;
    background-color: red;
    border-radius: 50%;
    z-index: 2;
    top: -10px;
}

.menu-cart{
    width: 400px;
    position: absolute;
    right: 0;
    box-shadow: 0 10px 5px 0 rgba(0, 0, 0, 0.4);
    background-color: aliceblue;
    display: none;
    margin-top: 8px;
    transition: all 0.9s ease;
    z-index: 11;


}
.menu-cart a{
    display: block;
    padding: 10px;
    color: black;
}

.cart:hover .menu-cart{
    transition: all 0.9s ease;
    display: block;
}
.cart-info{
    padding: 10px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid darkcyan;

}
.cart-info:hover{
    background-color: rgb(225, 239, 239);
}
.cart-info img{
    width: 60px;
    height: 60px;

}
.cart-info .fa-trash-can{
    color: #5e74f3;

}
.cart-info .fa-trash-can:hover{
    color: blue;
}
.total-cart{
    text-align: end;
    padding: 10px;
}
.total-cart span{
    opacity: 0.4;
}
.cart-info-thanhtoan{
    padding: 10px;
    display: block;
    width: 100%;
}
.cart-thanhtoan button{
    cursor: pointer;
    width: 100%;
    padding:  10px;
    border: none;
    background-color: #5e74f3;
    color: #fff;
    transition: all 0.5s ease;
    border-radius: 5px;
}
.cart-thanhtoan button:hover{
    background-color: blue;
}
.cart-xem button{
    background-color: blue;
    border: none;
    width: 100%;
    padding: 10px;
    color: #fff;
    transition: all 0.5s ease;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
.cart-xem button:hover{
    background-color: #5e74f3;
}
section{
    padding: 10px 10%;
}
.content-slider{
    width: 100%;
    display: flex;
    gap: 25px;
}
.slider-product{
    
    width: 70%; /* Độ rộng của slider */
    left: 0;
    
}
.slider-product img{
    width: 100%;
    height: auto;
}
  /* Custom styles for Slick carousel arrows */
  .slider-product .slick-prev,
  .slider-product .slick-next {
      font-size: 0; /* Hide default text content */
      line-height: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
  }
  
  .slider-product .slick-prev {
      left: 20px;
  }

  .slider-product .slick-next {
      right: 20px;
  }
  
  .slider-product .slick-prev::before,
  .slider-product .slick-next::before {
      content: ""; /* Add your custom arrow icons here */
      display: inline-block;
      width: 30px;
      height: 30px;
      background: url('path-to-your-arrow-icon.png') no-repeat center center;
  }
.noi-bat{
    width: 30%;
    right: 0;
    border: 2px solid blue;
    padding: 10px;
}
.noi-bat h2{
    font-size: 16px;
    font-weight: 500;
}
.noi-bat hr{
    color: blue;
    background-color: blue;
    opacity: 0.4;
    margin-top: 5px;
}
.slidebar-product{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}
.slidebar-product img{
    width: 50px;
    height: 50px;
}

.title-container-product{
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.xem-them-ban-chay a{
    color: black;

}
.xem-them-ban-chay .fa-plus{
    color: #5e74f3;
}
.xem-them-ban-chay a:hover{
    color: blue;
    font-size: 14px;
    transition: all 0.5s ease;
}
.gach-chan-ban-chay{
    margin: 0 10px;
    border-bottom: 1px solid   rgb(16, 136, 26);
}
/* .title-container-product h3{
    border-bottom: 2px solid rebeccapurple;
} */

.container-product{
    display: flex;
    flex-wrap: wrap;

}
.product{
    flex: 0 1 calc(20% - 20px);
    background-color:aliceblue;
    border: 1px solid rgba(212, 212, 212, 0.973);
border-radius: 5px;
    margin: 10px;
    padding: 10px;
}
.product img{
    width: 100%;
}
.ton-kho{
    font-size: 14px;
    color: rgb(42, 151, 115);
}
.price{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 5px 0;
}
.title-product h2{
    margin: 10px 0;
    font-size: 18px;
    font-weight: 600;
}
.btn-cart-product{
    width: 100%;
    display: flex;
    gap: 5px;
}
.btn-cart{
    padding: 5px 10px;
    width: 30%;
    cursor: pointer;
    border: 2px solid blue;
    background-color: #5e74f3;
    transition: all 0.5s ease;
    color: #fff;
    border-radius: 5px;

}
.btn-cart:hover{
    background-color: blue;

}
.btn-product{
    width: 70%;
    padding: 5px 10px;
    cursor: pointer;
    border: 2px solid blue;
    background-color: #fff;
    transition: all 0.5s ease;
    border-radius: 5px;


}

.btn-product:hover{
    background-color: blue;
    color: #fff;
    transition: all 0.7s ease;
}
.title-container-viavn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}
.container-via-vn{
    display: flex;
    flex-wrap: wrap;
    
}
.product-viavn{
    flex: 0 1 calc(20% - 20px);
    background-color: aliceblue;
    border: 1px solid rgba(212, 212, 212, 0.973);
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    position: relative;

}

.img-viavn img{
    width: 100%;
}
.giamgia-viavn{
    position: absolute;
    top: 0;
    opacity: 0.3;

}
.giamgia-viavn p{
    top: 0;
    margin-top: 10px;
    background-color: #5e74f3;
    padding: 5px;
    font-size: 13px;
    color: #fff;
}
.title-viavn h2{
    font-size: 18px;
    font-weight: 600;
    margin: 10px 0;
}
.tonkho-viavn{
    color: rgb(12, 133, 72);
    font-weight: 700;
}
.price-viavn{
    margin: 10px 0;
}
.btn-viavn{
    width: 100%;
    display: flex;
    gap: 5px;

}
.btn-cart-viavn{
    width: 30%;
    background-color: #5e74f3;
    padding: 5px 10px;
    cursor: pointer;
    border: 2px solid blue;
    transition: all 0.5s ease;
    border-radius: 5px;

}
.btn-cart-viavn:hover{
    background-color: blue;
}
.btn-viavn .fa-cart-plus{
    color: #fff;
}
.btn-muangay-viavn{
    background-color: #fff;
    color: black;
    border: 2px solid blue;
    cursor: pointer;
    transition: all 0.5s ease;
    width: 70%;
    border-radius: 5px;

}
.btn-muangay-viavn:hover{
    background-color: blue;
    color: #fff;

}
/* End css index users */

.product-chitiet{
    width: 100%;
    display: flex;
    padding: 40px 0;
    gap: 10px;
    flex-wrap: wrap;
}
.img-product-chitet{
    width: 30%;
}
.img-product-chitet img{
    width: 100%;
}
.info-product-chitiet{
    width: 44%;
    display: block;
    gap: 10px;
}
.title-chitiet h3{
    font-size: 20px;
    margin: 10px 0;
}
.total-product{
    font-weight: bold;
    font-size: 16px;
    color: rgb(29, 156, 113);
}
.price-wrapper{
    margin: 10px 0;
}

.price-product del{
    opacity: 0.3;
    margin-right: 10px;
}
.price-product ins span{
    font-weight: 700;
}
.product-description ul{
    padding-left: 10px;
}
.product-description ul li{
    font-size: 18px;
    margin: 10px 0;
    color: black;
    font-weight: 700;
}
.product-description ul li span{
    font-weight: 400;
}
.product-sidebar{
    width: 24%;
}
.row-product-sidebar{
    border: 2px solid rgb(222, 222, 222);
}
.icon-product i{
   font-size: 40px;
   font-weight: 400;
   width: 40px;
   opacity: 0.3;
}
.box-product{
    display: flex;
    gap: 10px;
    background-color: aliceblue;
    border: 1px solid rgb(223, 222, 223);
    padding: 5px;
}
.text-box-product{
    font-size: 20px;
}
.text-box-product h6{
    font-weight: 400;
    margin-top: 7px;
}
.thanh-toan-money button{
    padding: 10px 0;
    cursor: pointer;
    background-color: #5e74f3;
    color: #fff;
    border: none;
    transition: all 0.5s ease;
    width: 25%;
    border-radius: 5px;
}
.thanh-toan-money button:hover{
    background-color: blue;
}
.table-mota{
    width: 100%;
    background-color: antiquewhite;
    padding: 40px 40px;
    border-radius: 5px;
    box-shadow: 0 3px 6px -4px #03a39729, 0 3px 6px #03a39729;
}
.table-mota ul{
    display: flex;
    gap: 10px;
    align-items: center;
    
}
.table-mota ul li a{
    font-weight: 500;
    color: rgb(53, 53, 53);
    opacity: 0.7;
}

/* account user */
.container-account{
    display: flex;
    gap: 20px;
    
}
.page-title-account{
    /* background-color: #cecece; */
    min-height: 60px;
    display: flex;
    align-items: center;
    padding: 20px;
}
.page-title-account h5{
    font-size: 20px;
    font-weight: 400;
    opacity: 0.7;
    color: black;
}
.page-title-account h5:hover{
    color: #5e74f3;
}
.my-account-menu{
    display: block;
    flex-direction: column;
    background-color: rgb(255, 251, 245);
    padding: 20px;
    min-width: 30%;
    border-radius: 5px;
}
.user-profile{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.user-avatar img{
    width: 90px;
}
.user-info{
    display: grid;
    gap: 5px;
    flex-direction: column;
}
.user-info em{
    color: rgb(17, 129, 92);
    font-weight: 600;
}
.username{
    font-weight: 600;
}
.user-email{
    font-weight: 400;
}
.logout a{
    background:rgb(252, 234, 252);
    padding: 0 10px;
    margin-top: 5px;
    color: black;
}
.logout a:hover{
    background:rgb(247, 194, 247);

}
.myaccount-menu{
    display: block;
    margin-top: 20px;
}
.myaccount-menu ul li{
    padding: 10px 10px;
    
}
.myaccount-menu ul li a{
    color: black;
    
}
.my-account-menu ul i{
    margin-right: 20px;
    font-size: 20px;
    width: 20px;
}
.my-account-menu ul li:hover{
    background-color: #5e74f3;
    cursor: pointer;
}
.myaccount-content{
    background-color: rgb(250, 250, 250);
    max-width: 70%;
   padding: 20px;
   border-radius: 5px;
}
.myaccount-content h4{
    font-size: 30px;
    margin-bottom: 20px;
    
}
.myaccount-content p{
    margin-bottom: 20px;
}
.myaccount-content p em{
    font-weight: 800;
}


/* end account user */
@media(max-width:990px){
    .menu-main{
        padding: 10px;
    }
    #icon-menu{
        display: block;
    }
    .menu-main .menu{
    position: absolute;

        width: 100%;
        z-index: 5;
        top: 70px;
        left: 0;
        background-color: aliceblue;
    }
    .menu-main ul li a{
        display: block;
        padding: 10px;
    }
    .menu-left .menu{
        display: none;
    }
    

    .content-slider{
        flex-direction: column;
    }
    .slider-product{
        width: 100%;
    }
    .noi-bat{
        width: 100%;
    }
    section{
        padding: 20px 10px;
    }
    .product{
        flex: 0 1 calc(25% - 20px);
    }
    .product-viavn{
        flex: 0 1 calc(25% - 20px);
    }
    .product-chitiet{
        flex-direction: column;
        
    }
    .img-product-chitet,
    .info-product-chitiet,
    .product-sidebar{
        width: 100%;
    }
    .thanh-toan-money button{
    width: 50%;

    }
}
@media(max-width:768px){
    
    .product{
        flex: 0 1 calc(33.33% - 20px);
    }
    .product-viavn{
        flex: 0 1 calc(33.33% - 20px);
    }
    .thanh-toan-money button{
        width: 50%;
    
        }
}
@media(max-width:470px){
    
    .product{
        flex: 0 1 calc(50% - 20px);
    }
    .product-viavn{
        flex: 0 1 calc(50% - 20px);
    }
    .gio-hang{
        display: none;
    }
    .menu-main .cart{
        position: unset;
    }
    .menu-cart{
        width: 100%;
    }
    .thanh-toan-money button{
        width: 50%;
    
        }
        .table-mota ul{
            flex-direction: column;
            align-items:flex-start;
        }
        .container-account{
            flex-direction: column;
        }
        
        .myaccount-content{
            max-width: 100%;
        }
}
@media(max-width:330px){
    
    .product{
        flex: 0 1 calc(100% - 20px);
    }
    .product-viavn{
        flex: 0 1 calc(100% - 20px);
    }
    .thanh-toan-money button{
        min-width: 100%;
    
        }
}
